@tailwind base;
@tailwind components;
@tailwind utilities;

/* utility classes */
.form-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
}

.shadow-theme{
  box-shadow: #f200b0 0px 2px 15px;
}

.fade-slide-in {
  opacity: 0;
  transform: translateX(-1.6%);
  transition: opacity 0.6s ease-in-out, transform 0.7s ease-in-out;
}

.fade-slide-in.loaded {
  opacity: 1;
  transform: translateX(0%);
}